html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 100vw;
  background-color: #8ec5fc;
  background-image: linear-gradient(140deg, #8ec5fc 0%, #e0c3fc 100%);
}

a {
  text-decoration: none;
  color: white;
  font-family: "open sans";
}

ul {
  list-style: none;
}

.hero-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 9fr;
      grid-template-rows: 1fr 9fr;
  height: 100vh;
  padding-bottom: 10vh;
      grid-template-areas: "header header" "vector hero-text";
}

.hero-grid-container header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
}

.hero-grid-container header img {
  width: 3%;
  padding-left: 4vmin;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 550px) {
  .hero-grid-container header img {
    width: 10%;
  }
}

.hero-grid-container header p#logo {
  font-size: 4rem;
  color: #131a29;
  font-family: "MuseoModerno", cursive;
  font-weight: 800;
  padding-left: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 850px) {
  .hero-grid-container header p#logo {
    font-size: 8vw;
  }
}

.hero-grid-container header .contact-header {
  margin-left: auto;
  padding-right: 2rem;
}

.hero-grid-container header .contact-header a {
  color: black;
  font-weight: 600;
  font-family: "open sans";
  display: block;
  padding: 1em 2em;
  background-color: #fcc3de;
  border-radius: 50px;
}

.hero-grid-container header .contact-header a:hover {
  border-bottom: 5px solid #eea0c4;
}

@media (max-width: 500px) {
  .hero-grid-container header img {
    display: none;
  }
  .hero-grid-container header .contact-header {
    padding-right: 1rem;
  }
}

.hero-grid-container .img-vector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: vector;
}

.hero-grid-container .img-vector img {
  width: 90%;
}

.hero-grid-container .hero-text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: hero-text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-grid-container .hero-text .lastpost-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero-grid-container .hero-text .lastpost-hero p.logo {
  font-family: "MuseoModerno", cursive;
  font-size: 10vw;
  font-weight: 900;
  color: #19182b;
  margin: 0;
  margin-bottom: 1rem;
}

.hero-grid-container .hero-text .lastpost-hero p {
  font-family: "open sans";
  font-size: 1.5em;
  text-transform: capitalize;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  text-align: center;
}

.hero-grid-container .hero-text .lastpost-hero a {
  color: black;
  font-family: "open sans";
  font-size: 1.5em;
  text-transform: capitalize;
  display: block;
  padding: 0.5em 1em;
  width: 50%;
  background-color: #fcc3de;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 5px solid transparent;
}

@media (max-width: 485px) {
  .hero-grid-container .hero-text .lastpost-hero a {
    font-size: 1em;
  }
}

.hero-grid-container .hero-text .lastpost-hero a:hover {
  border-bottom: 5px solid #eea0c4;
}

@media (max-width: 1000px) {
  .hero-grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .hero-grid-container header {
    padding-bottom: 2rem;
    justify-self: flex-start;
  }
  .hero-grid-container .img-vector {
    width: 80%;
  }
  .hero-grid-container .hero-text .lastpost-hero p {
    font-size: 5vw;
    width: 80%;
  }
  .hero-grid-container .hero-text .lastpost-hero p.logo {
    font-size: 20vw;
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2vw 2vw;
  margin: 3rem 10%;
  padding: 10% 10%;
  margin-bottom: 2rem;
  grid-auto-rows: 1fr;
  height: 80vh;
}

.grid-container .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fcd099;
  border-radius: 50px;
  -webkit-box-shadow: 5px 10px 10px #aaa7ee;
          box-shadow: 5px 10px 10px #aaa7ee;
  margin-bottom: 1rem;
  height: 100%;
  padding: 10px;
}

.grid-container .grid-item img {
  width: 70%;
}

.grid-container .grid-item p {
  font-family: "open sans";
  font-size: 1.1rem;
  font-weight: 600;
  width: 90%;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 750px) {
  .grid-container .grid-item {
    -webkit-box-shadow: 0px 10px 10px #888888;
            box-shadow: 0px 10px 10px #888888;
  }
}

.grid-container .bidding img {
  height: 60%;
}

@media (max-width: 750px) {
  .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  .grid-container .grid-item img {
    width: 70%;
  }
  .grid-container .grid-item p {
    width: 60%;
  }
}

.encryption-parent {
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 750px) {
  .encryption-parent {
    padding-top: 0;
    padding-bottom: 10vh;
  }
}

@media (max-width: 1000px) {
  .encryption-parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
}

.encryption {
  margin-bottom: -5vh;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.encryption img {
  width: 50vw;
}

@media (max-width: 500px) {
  .encryption {
    margin-bottom: 0;
  }
  .encryption img {
    width: 100vw;
  }
}

@media (max-width: 750px) {
  .encryption {
    height: 50vh;
  }
}

@media (max-width: 1000px) {
  .encryption {
    margin-bottom: 0;
  }
  .encryption img {
    width: 70vw;
  }
}

.below-encryption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.below-encryption h1 {
  font-family: "DM Sans";
  width: 80%;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: black;
}

@media (max-width: 750px) {
  .below-encryption h1 {
    font-size: 20px;
  }
}

footer {
  background-color: #0b1523;
}

footer .social-icons {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

footer .cta {
  background-color: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35vh;
}

footer .cta p {
  text-transform: uppercase;
  font-family: "dm sans";
  font-size: 36px;
  font-weight: 800;
  text-align: center;
}

footer .cta a {
  font-size: 24px;
  font-family: "open sans";
  background-color: #1f1718;
  padding: 1rem 3rem;
  border-radius: 50px;
}

@media (max-width: 750px) {
  footer .cta {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer .cta p {
    font-size: 16px;
  }
  footer .cta a {
    font-size: 10px;
    margin-bottom: 2rem;
  }
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2rem;
}

footer .footer .address-contact {
  padding-top: 2rem;
  font-family: "open sans";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer .address-contact img {
  padding-right: 2rem;
  width: 2%;
  height: 10%;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .footer .address-contact p {
  width: 100%;
}

footer .footer .phone-email {
  color: white;
}

footer .footer .phone-email .phone {
  padding-top: 0.5rem;
}

footer .footer .phone-email .phone img {
  padding-right: 1.6rem;
}

footer .footer .phone-email .email {
  padding-top: 1rem;
}

footer .footer .phone-email .email img {
  padding-right: 1.2rem;
}

footer .footer .footer-nav {
  padding-top: 5rem;
}

footer .footer .footer-nav ul {
  padding: 0;
  margin: 0;
  font-family: "open sans";
}

footer .footer .footer-nav ul li {
  padding-top: 1rem;
}

footer .footer .footer-terms {
  padding-top: 4rem;
}

footer .footer .footer-terms ul {
  padding: 0;
  margin: 0;
  font-family: "open sans";
}

footer .footer .footer-terms ul li {
  padding-top: 1rem;
}

@media (min-width: 640px) {
  footer .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-bottom: 5rem;
    gap: 3rem;
  }
  footer .footer .phone-email {
    padding-top: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  footer .footer .address-contact {
    padding-top: 0.6rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 40%;
  }
  footer .footer .address-contact .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer .address-contact .address img {
    height: 50%;
  }
  footer .footer .footer-nav {
    padding-top: 0.6rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  footer .footer .footer-terms {
    padding-top: 0.6rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

footer .attributions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  font-size: 10px;
}
/*# sourceMappingURL=main.css.map */